# implement linear regression from scratch for Higher dimentional Datasets

In [1]:
# Loading necessary library

import numpy as np
import sklearn
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
# Loading Datasets

from sklearn.datasets import load_boston
boston_dataset = load_boston()
data = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
data['MEDV'] = boston_dataset.target
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
# Scaling the Datasets

from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
sc = preprocessing.StandardScaler()

data = pd.DataFrame(sc.fit_transform(data))
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503

In [11]:
# Forming Matrices

data = data.iloc[:,0:14]

#setting the matrices
X = data.iloc[:,0:13] #Feature Set
y = data.iloc[:,13].values # Target Values
y = y.reshape(data.shape[0],1)

In [12]:
# Train test Spliting

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=5)

In [13]:
#Initialize weight vector
weight = np.zeros([1,13])

#set hyper parameters
lr = 0.001
ite = 10000

In [14]:
# Suare Loss Function

def SquaredLoss(X_train,y_train,weight):
    Loss = np.power(((np.dot(X_train,weight.T))-y_train),2)
    return np.sum(Loss)/(2 * len(X_train))

In [15]:
# Gradient Descent Method

def GradientDescent(X_train,y_train,weight,ite,lr):
    cost = np.zeros(ite)
    for i in range(ite):
        weight = weight - (lr/len(X_train)) * np.sum(X_train * (np.dot(X_train,weight.T) - y_train), axis=0).to_numpy()
        cost[i] = SquaredLoss(X_train, y_train, weight)
    
    return weight,cost

# Working on Training Data

In [16]:
#running the gd and cost function
coeff1,cost = GradientDescent(X_train,y_train,weight,ite,lr)

In [17]:
print(coeff1)

[[-0.10823098  0.09387089 -0.04608523  0.08206429 -0.15042268  0.28479391
  -0.00878396 -0.30059814  0.18850003 -0.08396162 -0.2128864   0.11783418
  -0.45010454]]

In [18]:
print(cost)

[0.50621369 0.50360007 0.50101418 ... 0.1351532  0.13515288 0.13515256]

Comment: We see cost is decreasing

In [19]:
Final_Loss = SquaredLoss(X_train,y_train,weight)
print("Final Loss for training Data: ", Final_Loss)

Final Loss for training Data:  0.5088553646432538

# Working on Test Data

In [20]:
coeff1,cost = GradientDescent(X_test,y_test,weight,ite,lr)

In [21]:
print(coeff1)

[[ 0.07173126  0.03622089  0.01195831  0.05242905 -0.18254342  0.53293053
  -0.04210683 -0.21591005  0.04296817 -0.1477724  -0.22005937  0.06295663
  -0.11766123]]

In [22]:
print(cost)

[0.46198379 0.45907516 0.45619949 ... 0.08502406 0.08502393 0.0850238 ]

In [23]:
Final_Loss = SquaredLoss(X_test,y_test,weight)
print("Final Loss for Test data: ", Final_Loss)

Final Loss for Test data:  0.4649258106286811

# Comment: it seems Model not very bad

# Using Sklearn Method on Training Data :

In [24]:
# Lets now train the model
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression()
lin_model.fit(X_train, y_train)

LinearRegression()

In [25]:
# Model Evaluation
# Lets first evaluate on training set
from sklearn.metrics import r2_score

def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

y_pred_train = lin_model.predict(X_train)
rmse_train = rmse(y_pred_train, y_train)
r2_train = r2_score(y_train, y_pred_train)
#print("Training RMSE = " + str(rmse_train))
#print("Training R2 = " + str(r2_train))

# Let us now evaluate on the test set
y_pred_test = lin_model.predict(X_test)
rmse_test = rmse(y_pred_test, y_test)
r2_test = r2_score(y_test, y_pred_test)
#print("Test RMSE = " + str(rmse_test))
#print("Test R2 = " + str(r2_test))

# Finally, let us see the learnt weights!
np.set_printoptions(precision=3)
print(lin_model.coef_)

[[-0.122  0.125  0.001  0.075 -0.201  0.261  0.003 -0.342  0.345 -0.241
  -0.224  0.117 -0.461]]

Comment: It is almost closed to training Model worked on before.

# Working on Test data by Sklearn

In [26]:
lin_model.fit(X_test, y_test)

np.set_printoptions(precision=3)
print(lin_model.coef_)

[[ 0.068  0.046  0.043  0.048 -0.196  0.545 -0.068 -0.231  0.092 -0.202
  -0.228  0.065 -0.095]]

Comment: It is also almost closed to  Test model worked on before.